//colors
$blue: #61c4d9;
$dark_green: #0f5a47;
$dark: #323232;
$grey: #666;
$black_t: #0d0d0d;
$sky: #b0f7ff;
$dark_ico: #2a2a29;
$grey-light: #f8faf9;

//media
$bp-desktop-hd: "1800px";
$bp-desktop: "1200px";
$bp-tablets: "768px";
$bp-phones: "480px";
$bp-phones-mini: "320px";

//rem function
@function rem ($px) {
  @return $px / 18px + 0rem;
}
//layout
@import './layout/*.scss';
@import './mixins.scss';
@import './blocks/*.scss';